
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
</head>
<body>
    <div>
        <p>@ViewBag.ErrMessage</p>
        <form method="get">
            <button type="submit">Повторить попытку</button>
        </form>
    </div>
    
</body>
</html>
